*~
*.orig
*.pyc
*.o
*.mod
*.so
*.a
*.Abs
*.fst
*.fst0
tags
TAGS
.rde.*
.exper_cour
RCS
AIX*/
tmp/
run/
build/
build-*/
rpn_version.h
rpn_version.py
utils/test_get_corners_xy.f90
utils/get_corners_xy.f90
utils/vect_mod.f90
Makefile
Makefile.build*
Makefile.rules*
Makefile.dep*
lib/rpnpy/version.py
build-*
include/rpnpy_version.*
