/VERSION
/BUILDINFO
__build__
__dist__
*.orig
*.pyc

bin/.env_setup.dot

/bin/
/include/
/lib/
/share/
/suite

/build-*
/BINMOD
/PREP
/RUNENT*
/RUNMOD*
/GEM_cfg*

/.rde*
/.linkit.log
/.ssmuse_gem

/Makefile
/Makefile.build.mk
/Makefile.rules.mk
/Makefile.dep.*.mk

main*.Abs

/.filelist0
*.patch
*.patch.tgz

/_other/ubuntu-14.04-amd64-64
/_other/sles-11-broadwell-64-xc40
/_other/*/.restricted
