include LICENSE VERSION DESCRIPTION KnownIssues
recursive-include lib/rpnpy/_sharedlibs *
prune lib/rpnpy/_sharedlibs/vgrid/tests
prune lib/rpnpy/_sharedlibs/libburp/tests
exclude lib/rpnpy/_sharedlibs/.git*
exclude lib/rpnpy/_sharedlibs/*.pyc
exclude lib/rpnpy/_sharedlibs/librmn/.git*
exclude lib/rpnpy/_sharedlibs/vgrid/.git*
exclude lib/rpnpy/_sharedlibs/libburp/.git*
