*~
*.o
*.a
*.so
*.so.*.*.*
*.mod
*.f90
tests/test*.txt
tests/test*.out
tests/*.F90
tests/data/
tests/compile.log
tests/*.out
tests/.nfs*
tests/WORK
tests/compile_INFO
tests/vgrid_maestro_tests/flow.xml
tests/vgrid_maestro_tests/hub
tests/vgrid_maestro_tests/listings
tests/vgrid_maestro_tests/logs
tests/vgrid_maestro_tests/sequencing
tests/.suites/vgrid_maestro_tests/hub/
tests/.suites/vgrid_maestro_tests/listings/
tests/.suites/vgrid_maestro_tests/sequencing/
tests/VALGRIND
Makefile.test
examples/lowLevel_levels
examples/topLevel_levels
examples/use_dpidpis
examples/use_new_gen
examples/use_new_read
log-*-*-*-*-*
report-*-*-*-*-*
vgriddescriptors_*
vgriddescriptors/
README_COMMIT
libc/Makefile.dep
src/vgrid_version.hc
src/vgrid_version.hf
control
dependencies.mk

