VERSION
BUILDINFO
__build__
__dist__
*.orig
bin/.env_setup.dot
Makefile
Makefile.build.mk
Makefile.rules.mk
Makefile.dep.*.mk
.rde.*.dot
.rde.*.mk
.ssmuse_gem
build-*
PREP
RUNENT*
RUNMOD*
main*.Abs
.linkit.log
*.pyc
